{% extends "base.html" %} {% block title %} Consulta de Menciones {% endblock %}

{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Consulta de Menciones</h2>
    <br>
    <br>
    <form action="{% url 'consultar_usuario' %}" method="get">
        <label for="fecha_inicio">Fecha de inicio:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" required>
        <label for="fecha_fin">Fecha de fin:</label>
        <input type="date" id="fecha_fin" name="fecha_fin" required>
        <button class="btn btn-outline-success" type="submit" id="inputGroupFileAddon04">Consultar</button>


    </form>
    <br>

    <div class="col-lg-6 mx-auto">
        <br>
        {% if usuarios_por_fecha %}
        {% for data in usuarios_por_fecha %}
        <h2>Fecha: {{ data.fecha }}</h2>
        <ol class="list-group list-group-numbered">
            {% for usuario, count in data.usuarios.items %}
            <li class="list-group-item">{{ usuario }}: {{ count }} mensajes</li>
            {% endfor %}
        </ol>
        <br>
        {% endfor %}
        <form action="{% url 'generar_reporte_usuarios_pdf' %}" method="get">
            <input type="hidden" name="fecha_inicio" value="{{ request.GET.fecha_inicio }}">
            <input type="hidden" name="fecha_fin" value="{{ request.GET.fecha_fin }}">
            <button class="btn btn-outline-primary" type="submit">Reporte PDF</button>
        </form>
        {% endif %}
    </div>




</div>
{% endblock %}