{% extends "base.html" %} {% block title %} Consulta de Sentimientos en Mensajes {% endblock %}

{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Consulta de Sentimientos en Mensajes</h2>
    <br>
    <br>
    <form action="{% url 'consultar_sentimientos' %}" method="get">
        <label for="fecha_inicio">Fecha de inicio:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" required>
        <label for="fecha_fin">Fecha de fin:</label>
        <input type="date" id="fecha_fin" name="fecha_fin" required>
        <button class="btn btn-outline-success" type="submit" id="inputGroupFileAddon04">Consultar</button>


    </form>
    <br>
    <div class="col-lg-6 mx-auto">
        <br>
        {% if sentimientos_por_fecha %}
        <h2>Resultados</h2>
        <ul class="list-group">
            {% for sentimiento in sentimientos_por_fecha %}
            <li class="list-group-item">
                {% if sentimiento.sentimiento == "positivo" %}
                Mensajes con sentimiento positivo: {{ sentimiento.count }} mensajes
                {% elif sentimiento.sentimiento == "negativo" %}
                Mensajes con sentimiento negativo: {{ sentimiento.count }} mensajes
                {% elif sentimiento.sentimiento == "neutro" %}
                Mensajes neutros: {{ sentimiento.count }} mensajes
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <br>
        {% endif %}
    </div>




</div>
{% endblock %}