{% extends "base.html" %} {% block title %} Consulta de Menciones {% endblock %}

{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Datos Estudiante</h2>
    <br>
    <br>

    <section id="datos">
        <div class="my-5">
            <div class="p-5 text-center bg-body-tertiary">
                <div class="container py-5">
                    <h2 class="text-body-emphasis">"Estudiante de Ingenieria en Sistemas"</h2>
                    <ul>
                        <li>
                            Edgar Rolando Ramirez Lopez
                        </li>
                        <li>
                            201212891
                        </li>
                        <li>
                            Introduccion a la Programacion y Computacion 2
                        </li>
                        <li>
                            Seccion B
                        </li>
                        <li>
                            Ingenieria en Ciencias y Sistemas
                        </li>
                        <li>
                            4to Semestre
                        </li>


                    </ul>
                    <img class="profile-img mt-5" src="/static/img/profile.png" alt="" srcset=""
                        style="height: 100px; border-radius: 50%">
                    <p class="col-lg-8 mx-auto lead mt-2">
                        Universidad de San Carlos, Guatemala
                    </p>

                </div>
            </div>
        </div>

    </section>




</div>
{% endblock %}